// !HEADER
.header{
    height: 65px;
    background-color: $headerBckgColor;
    position: sticky;
    top: 0;
    z-index: 10;
}



.header{
    .main-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 100%;
    }
}

.header__nav{
    & > .header__nav-ul{
        & > .header__nav-item{
            color: $white;
            display: inline-block;
            font-family: 'roboto-reg';
            font-size: 15px;
            
            & a{
                color: inherit;
                text-decoration: none;
                letter-spacing: 1px;
                position: relative;
                
            }

            & a::after{
                content: '';
                width: 10%;
                height: 3px;
                background-color: #00D5C3;
                position: absolute;
                left:0;
                right: 0;
                margin: 0 auto;
                top: 25px;
                opacity: 0;
                transition-duration: 0.3s;  
            }

            & a:hover::after{
                width: 100%;
                opacity: 1;
            }
        }
    }
}

.header__nav-ul{
    @include zeroing-out-list-styles;
}

@for $i from 0 to 6 - 1{
    .link-#{$i}{
        margin-right: 10px
    };
}