.services{
    padding: 60px 0;
}
.services__block-item{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}

.services__item{
    padding: 30px;
    text-align: center;
    transition-duration: .3s;
    border-radius: 10px;
    flex: 0 0 32%;
    box-sizing: border-box;

    &:hover{
        box-shadow: 0 5px 25px 0 rgba(5, 5, 5, 0.2);

        .box-icon{
            background: #161C35;

            & > i{
                color: #fff;
            }
        }
    }

    & > .box-icon{
            border: 1px solid #161C35;
            border-radius: 50%;
            height: 108px;
            line-height: 108px;
            text-align: center;
            width: 108px;
            margin: 0 auto;
            transition-duration: 0.3s;
        & > i{
            font-size: 54px;
            color: #161C35;
            line-height: 108px;
            transition-duration: 0.3s;
        }
    }

    & > h3{
        font-size: 24px;
        margin: 23px 0;
        color: #161C35;
        text-align: center;
    }

    & > p{
            font-size: 16px;
            font-weight: 400;
            font-family: 'open-sans';
            line-height: 24px;
            margin-bottom: 20px;
            color: #666666;
    }

    & > a{
            display: inline-block;
            width: 150px;
            height: 50px;
            line-height: 50px;
            color: #161C35;
            font-size: 18px;
            border-radius: 0 5px 0 5px;
            border: 1px solid #161C35;
            text-decoration: none;
            transition-duration: 0.3s;
    }
}