// Вложенность - зависимость это плохо
// .user{
//     border: 1px solid black;
//     .user__avatar{
//         width: 300px;
//         height: 300px;
//         background-color: red;
//     }
// }

// Конкатенация селекторов, тоже самое что .user__avatar:hover 
// .user__avatar{
//     &:hover{
//         background-color: blue;
//     }
//     &::after{
//         content: 'zzzzz';
//     }
// }


// $background-color-block: red; //глобальная область видимости переменной

// .about__desc{

//     width: 500px + 15;
//     background-color: lighten($color: $background-color-block, $amount: 40%);
// }

// .title{
//     $background-color-block: blue; // локальная пер-я, затеняет глобальную
//     background-color: rgba($color: $background-color-block, $alpha: .6);
// }

//vars
// $white: #f6f6f6;
// $blue: #33c1e3;

// //layouts
@import 'sass/fonts.scss';
// @import '_misc/mixins.scss';
// @import '_misc/adjustment.scss';
// @import '_misc/normalize.scss';


// //styles
// @import 'sections/header.scss';
// @import 'sections/footer.scss';

h1{
    color: red;
    font-family: 'open-sans';
    font-weight: 700;
}

