// Вложенность - зависимость это плохо
// .user{
//     border: 1px solid black;
//     .user__avatar{
//         width: 300px;
//         height: 300px;
//         background-color: red;
//     }
// }

// Конкатенация селекторов, тоже самое что .user__avatar:hover 
// .user__avatar{
//     &:hover{
//         background-color: blue;
//     }
//     &::after{
//         content: 'zzzzz';
//     }
// }


// $background-color-block: red; //глобальная область видимости переменной

// .about__desc{

//     width: 500px + 15;
//     background-color: lighten($color: $background-color-block, $amount: 40%);
// }

// .title{
//     $background-color-block: blue; // локальная пер-я, затеняет глобальную
//     background-color: rgba($color: $background-color-block, $alpha: .6);
// }

//vars
$white: #f6f6f6;
$headerBckgColor: #161c35;

//outline
.bb{
    outline: 2px solid rgb(131, 131, 60);
}

// //layouts
@import 'sass/fonts.scss';
@import 'sass/misc.scss';
@import 'sass/mixins.scss';

@import 'sass/header.scss';
@import 'sass/hero.scss';
@import 'sass/services.scss';
@import 'sass/how-it-works.scss';
@import 'sass/team.scss';
@import 'sass/blog.scss';
@import 'sass/contact.scss';
@import 'sass/footer.scss';
@import 'sass/adaptiv.scss';


